.about {
  height: 500px;

  &__wrapper {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__text {
    max-width: 60%;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
