.header {
  height: 500px;
  background-color: #484283;

  &__wrapper {
    display: block;
    padding-bottom: 20px;
    height: 100%;
  }

  &__title {
    margin-top: 7%;
    max-width: 60%;
    font-size: 50px;
    color: $basic-white;
  }

  &__logo {
    display: block;
    margin: 0 auto;
  }
}

//@media (min-width: $tablet-width) {
//  .header {
//    height: 40vh;
//
//    &__wrapper {
//      padding-top: 20vh;
//    }
//
//    &__title {
//      font-size: 24px;
//    }
//  }
//}
//
//@media (min-width: $desktop-width) {
//  .header {
//    height: 500px;
//
//    &__wrapper {
//      padding-top: 15vh;
//    }
//
//    &__title {
//      font-size: 50px;
//    }
//  }
//}
