<section class="age">
  <div class="container age__wrapper">
    <h2>Для детей и взрослых</h2>

    <div class="age__cards">
      <div class="age__card card">
        <div class="card__header">
          <img src="../img/children.jpg">
        </div>
        <div class="card__content">
          <h3>Группа для детей</h3>
        </div>
      </div>

      <div class="age__card card">
        <div class="card__header">
          <img src="../img/adults.jpg">
        </div>
        <div class="card__content">
          <h3>Группа для взрослых</h3>
        </div>
      </div>
    </div>
  </div>
</section>
